openapi: 3.0.3
info:
  title: API de Reserva de Citas Médicas
  description: >
    Contrato de integración entre el Portal del Paciente (Servicio A)
    y el Servicio de Agenda Médica (Servicio B).
    Permite consultar disponibilidad y confirmar citas médicas.
  version: 1.0.0
  contact:
    name: Equipo de Integración
    email: integracion@clinica.com

servers:
  - url: https://api.clinica.com/v1
    description: Servidor de producción
  - url: https://staging.api.clinica.com/v1
    description: Servidor de pruebas

paths:
  /disponibilidad:
    get:
      summary: Consultar disponibilidad de un médico
      operationId: getDisponibilidad
      tags:
        - Agenda
      parameters:
        - name: medico_id
          in: query
          required: true
          description: Identificador único del médico
          schema:
            type: string
            format: uuid
            example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
        - name: fecha
          in: query
          required: true
          description: Fecha para la consulta (formato ISO 8601)
          schema:
            type: string
            format: date
            example: "2025-06-15"
        - name: especialidad
          in: query
          required: false
          description: Filtrar por especialidad médica
          schema:
            type: string
            enum: [cardiologia, pediatria, medicina_general, dermatologia]
      responses:
        "200":
          description: Lista de horarios disponibles
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DisponibilidadResponse"
        "400":
          description: Parámetros inválidos o faltantes
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Médico no encontrado
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          description: Servicio de agenda temporalmente no disponible
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /citas:
    post:
      summary: Crear una nueva reserva de cita médica
      operationId: crearCita
      tags:
        - Agenda
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CrearCitaRequest"
      responses:
        "201":
          description: Cita creada exitosamente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CitaConfirmadaResponse"
        "400":
          description: Datos de la solicitud inválidos
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflicto — el horario ya fue reservado por otro paciente
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Entidad no procesable — campos con formato incorrecto
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          description: Servicio no disponible
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /citas/{cita_id}:
    get:
      summary: Obtener detalle de una cita existente
      operationId: getCita
      tags:
        - Agenda
      parameters:
        - name: cita_id
          in: path
          required: true
          description: Identificador único de la cita
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Detalle de la cita
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CitaConfirmadaResponse"
        "404":
          description: Cita no encontrada
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    delete:
      summary: Cancelar una cita médica
      operationId: cancelarCita
      tags:
        - Agenda
      parameters:
        - name: cita_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Cita cancelada exitosamente (sin contenido)
        "404":
          description: Cita no encontrada
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  schemas:

    CrearCitaRequest:
      type: object
      required:
        - paciente_id
        - medico_id
        - fecha_hora
        - motivo
      properties:
        paciente_id:
          type: string
          format: uuid
          description: Identificador único del paciente (obligatorio)
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
        medico_id:
          type: string
          format: uuid
          description: Identificador único del médico (obligatorio)
          example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
        fecha_hora:
          type: string
          format: date-time
          description: Fecha y hora de la cita en ISO 8601 UTC (obligatorio)
          example: "2025-06-15T10:30:00Z"
        motivo:
          type: string
          description: Motivo de la consulta (obligatorio, máx. 500 caracteres)
          maxLength: 500
          example: "Control anual de presión arterial"
        notas_adicionales:
          type: string
          description: Información adicional para el médico (opcional)
          maxLength: 1000
          example: "Paciente con alergia a penicilina"
        modalidad:
          type: string
          description: Modalidad de la cita (opcional, default presencial)
          enum: [presencial, teleconsulta]
          default: presencial

    DisponibilidadResponse:
      type: object
      properties:
        medico_id:
          type: string
          format: uuid
        fecha:
          type: string
          format: date
        horarios_disponibles:
          type: array
          items:
            type: object
            properties:
              hora_inicio:
                type: string
                format: time
                example: "09:00"
              hora_fin:
                type: string
                format: time
                example: "09:30"
              disponible:
                type: boolean

    CitaConfirmadaResponse:
      type: object
      properties:
        cita_id:
          type: string
          format: uuid
          description: Identificador único generado para la cita
        paciente_id:
          type: string
          format: uuid
        medico_id:
          type: string
          format: uuid
        fecha_hora:
          type: string
          format: date-time
        estado:
          type: string
          enum: [confirmada, pendiente, cancelada]
        codigo_confirmacion:
          type: string
          description: Código alfanumérico para recordatorio
          example: "CITA-2025-XK7M"
        creado_en:
          type: string
          format: date-time

    ErrorResponse:
      type: object
      required:
        - codigo
        - mensaje
      properties:
        codigo:
          type: string
          description: Código interno del error
          example: "HORARIO_NO_DISPONIBLE"
        mensaje:
          type: string
          description: Descripción legible del error
          example: "El horario solicitado ya no está disponible"
        detalles:
          type: array
          items:
            type: string
          description: Lista de errores específicos de validación
        timestamp:
          type: string
          format: date-time

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - BearerAuth: []
